#head .lead {

    background-color: aliceblue;
    width: 30%;
    margin: auto;
    border-radius: 10px;
    color:black;
    min-width: 150px;
    padding-top: 2%;
    padding-bottom: 2%;
}

#head .tagline {
    color:black

}



#head .btn-default{

    background-color: brown;
    color:white;
}

#head .btn-default :hover{
    background-color: brown;
    color:white;
}
    



	
