#head .lead {
    

    background-color: aliceblue;
    width: 30%;
    margin: auto;
    border-radius: 10px;
    color:black;
    min-width: 150px;
    padding-top: 2%;
    padding-bottom: 2%;
}

 .tagline {
    color:black

}

.navbar-brand {
    background:  url( ../images/magic_trucks7.png);
}

 .btn-default{

    background-color: brown;
    color:white;
}

#head{
    background:#181015 url( ../images/2camion.png)10% no-repeat; background-size: cover; min-height:520px; text-align: center; padding-top:240px; color:white; font-family:"Open sans", Helvetica, Arial; font-weight:300;
}




	
