body {
    font-family: verdana, sans-serif;
    margin: 0;
    background: black;
    margin-bottom: 0px;
    overflow-x: hidden;
}


#head {
    height: 80rem;
    margin: 0rem 0rem 5rem 0rem;
}

.tagline {
    color: black
}

.navbar {
    background-color: #121117;
}

.navbar-collapse {
    /* magic trucks */
    /*background: url( ../images/magictrucks10.png);*/
    background-repeat: no-repeat;
    margin-top: 2rem;
}

.navbar-inverse .navbar-brand img {
    margin-top: 8px;
}


#head>div>div>h1 {
    /* L'évasion en camion aménagé sur-mesure */
    color: #973a0e;
    font-size: 5rem;
    margin-top: 10rem;
    padding-right: 1.6rem;
    max-width: 85rem;
    margin: auto;
    text-shadow: 1px 1px rgb(0, 0, 0);
    border-style: double;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: rgba(255, 228, 196, 0.89);
    font-family: "Gill Sans Extrabold", sans-serif;
    font-family: "Goudy Bookletter 1911", sans-serif;
}


ul {
    list-style: none;
}



.footer1 {
    background: #1eb635;
    min-width: 100%;
}

#footer>div.footer1 {
    color: black;
}

.row {
    padding-top: 1rem;
}

#head {
    background-image: url("../images/photoaccueil.jpg");
    background-repeat: no-repeat;

}


.img-camion {
    box-shadow: 0em 0em 1em 1em white;

}

.sidebar {
    padding-top: 12em;
    width: 38%;
}

.oupss {
    margin-top: 12em;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 9999;
    width: 100%;
}

body>div.jumbotron.top-space {
    margin-top: 1rem;
}


/* ################## Resume Front Page ##################      */





/* ################## Container Atelier + Devis ##################      */
#wraapper-fluid {
    display: flex;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    margin: auto;
    width: 80%;
    border-bottom: solid white 1px;
    height: auto;
    min-width: auto;
}

@media only screen and (min-width: 1300px) {
    #wraapper-fluid {
        display: flex;
        margin-bottom: 8rem;
        padding-bottom: 8rem;
    }
}

@media only screen and (min-width: 1500px) {
    #wraapper-fluid {
        display: flex;
        margin-bottom: 12rem;
        padding-bottom: 12rem;
    }
}

@media only screen and (min-width: 1500px) {
    #wraapper-fluid {
        display: flex;
        margin-bottom: 12rem;
        padding-bottom: 12rem;
    }
}

@media only screen and (min-width: 1700px) {
    #wraapper-fluid {
        display: flex;
        margin-bottom: 15rem;
        padding-bottom: 15rem;
    }
}

#left-side,
#right-side,
#left-side-2,
#right-side-2 {
    flex-basis: 50%;
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1rem;
    margin-left: 1rem;
    color: #4caf50;
    font-size: 1.7rem;
    margin: 2rem 0 2rem 0;
}

@media only screen and (max-width: 600px) {

    #right-side-2,
    #left-side {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1000px) {

    #right-side-2,
    #left-side {
        font-size: 1.5rem;
        padding-left: 10rem;
        font-size: 1.8rem;
    }
}

#right-side-2,
#left-side {
    font-size: 2rem;
}

@media only screen and (max-width: 600px) {

    #left-side,
    #right-side,
    #left-side-2,
    #right-side-2 {
        flex-direction: column;
    }
}

#left-side>h2,
#right-side-2>h2 {
    font-size: 4rem;
}

@media only screen and (min-width: 1500px) {

    #left-side>h2,
    #right-side-2>h2 {
        font-size: 5rem;
    }
}

#right-side-2 {
    text-align: right;
    text-align: justify;
    color: #8bc34a;

}

@media only screen and (max-width: 600px) {
    #right-side-2 {
        padding-right: 1rem;
    }
}

.img-quote,
.img-workshop {
    position: relative;
    top: 5rem;
    left: 20%;
    border-radius: 20%;
    border: solid #38261f 5px;
    max-width: 60%;
    min-width: 15rem;
}

@media only screen and (max-width: 600px) {

    .img-workshop,
    .img-quote {
        margin-bottom: 5rem;
        left: 0%;
        top: 22rem;
    }
}

.div-atelier {
    position: absolute;
}

#right-side>button {
    position: relative;
    top: 5rem;
}

.row-about {
    padding-top: 1rem;
    color: white;
    text-align: center;
    margin-top: 2rem;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

.button-front {
    position: relative;
    display: inline-flex;
    width: 140px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
    padding-top: 3rem;
}

.button-front a {
    font-size: 1.5rem;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
}

.button-front a:before,
.button-front a:after {
    position: absolute;
    content: "En savoir plus";
    height: 55px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(19, 80, 16);
    box-sizing: border-box;
    border-radius: 5px;
}

.button-front a:before {
    color: rgb(253, 253, 253);
    background: rgb(0, 0, 0);
    transform: rotateY(0deg) translateZ(25px);
}

.button-front a:after {
    color: rgb(20, 129, 6);
    transform: rotateX(90deg) translateZ(25px);
}

.button-front a:hover {
    transform: translateZ(-25px) rotateX(-90deg);
}

/************Liste des ateliers ********************/

.workshop-caps {
    border: rgb(19, 139, 45) solid 20px;
}

.header-workshop {
    padding: 5rem;
}

.workshop-wrapp {
    display: flex;
    width: auto;
}

.workshop-left,
.workshop-right {
    flex-basis: 50%;
}

.workshop-right {
    background-size: cover;
    min-height: 20rem;
}

.workshop-left {
    text-align: left;

}

.workshop-title {
    color: seagreen;
}

.list-content-workshop {
    padding-top: 4rem;

}

.button-workshop {
    position: relative;
    display: inline-flex;
    width: 140px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
    padding-top: 3rem;
}

.button-workshop a {
    font-size: 1.5rem;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;

}

.button-workshop a:before,
.button-workshop a:after {
    position: absolute;
    content: "S'inscrire";
    height: 55px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(19, 80, 16);
    box-sizing: border-box;
    border-radius: 5px;
}

.button-workshop a:before {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    transform: rotateY(0deg) translateZ(25px);
}

.button-workshop a:after {
    color: rgb(20, 129, 6);
    transform: rotateX(90deg) translateZ(25px);
}

.button-workshop a:hover {
    transform: translateZ(-25px) rotateX(-90deg);
}

.honte {
    color: white;
    visibility: hidden
}

.workshop-caps {
    min-height: 60rem;
}

.wrapper-single {
    display: flex;
    height: auto;
    border: solid green 1px;
}

.header-single {
    text-align: center;
    margin-bottom: 5rem;
    ;
    padding: 2rem;
}

@media only screen and (max-width: 735px) {

    .wrapper-single {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .single-right {
        padding-bottom: 2rem;
        width: 100%;
        padding-top: 2rem;
    }

    .header-single {
        margin-bottom: 0;
    }
}

.single-left,
.single-right {
    flex-basis: 50%;
}

.single-left {


    text-align: center;
}

.single-right {
    margin-right: 1.5rem;
    min-width: 20rem;

}



.footer-single {

    margin-bottom: 5rem;
    ;
    padding: 2rem;
}

.back {
    float: inline-end;
}


/************Fin Liste des ateliers ********************/

/*********************************************************SECTION Gallerie ************************************************************/

#gallery {
    position: relative;
    background-color: #212121;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem 0 5rem 0;
    width: 100%;
    border-radius: 15px;
}

.gallery__card {
    position: relative;
    height: 250px;
    background: #1eb635;
    display: flex;
    width: 45%;
    margin: 30px 0;
    border-radius: 15px;
}

.gallery__card-illu {
    position: absolute;
    background-color: #212121;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    filter: grayscale(0);
    transition: 1s ease-in-out;
    border-radius: 15px;

}

.gallery__card:hover .gallery__card-illu {
    /* Survol souris */
    width: 200px;
    height: 200px;
    left: -120px;
    top: calc(50% - 75px);
    filter: grayscale(100%);
    background-color: #1eb635;
    transition: 1s ease-in-out;
    border-radius: 15px;
}


.gallery__card-content {
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__card-content h3 {
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.gallery__card-content a {
    display: inline-block;
    margin-top: 10px;
    padding: 6px 10px;
    background-color: #212121;
    border-radius: 15px;
    color: white;

}

.gallery__card-content a:hover {
    background-color: #212121;
    transition: .5s;
}

.description {
    padding: 3rem 0 3rem 0;
    color: #9de25c;
    font-size: 1.5rem;
}

/*#################### DEVIS ##############################*/


.quotation {
    border: rgb(19, 139, 45) solid 20px;
    margin-top: 5rem;
}

/*####################   Mohamed   #################################*/

.navbar-inverse .navbar-nav>li>a:hover {
    color: #1eb635;
}

.current-menu-item a {
    color: #1eb635 !important;
}

.jumbotron {
    width: 100%;
    background-color: #1eb635;
}

.fa-smile-o:before {
    content: "\f099";
}

.fa-gears:before,
.fa-cogs:before {
    content: "\f095";
}

.fa-truck:before {
    content: "\f044";
}

.fa-heart:before {
    content: "\f082";
}

.contact {
    color: black;
}

footer {
    width: 100%;
}

.row-contact {
    padding-top: 1rem;
    color: white;
    text-align: center;
    margin-top: 10rem;
    text-decoration: none;
    font-size: 1.5em;
}

.rating {
    margin-left: 3px;
    position: relative;
    bottom: 0.5rem;
}

.details-contact {
    margin-bottom: 5rem;
    border-radius: 50%;
    box-shadow: 1px 1px 40px 7px green;
    background: var(--fitback);
    padding: 3rem;
    width: 40%;
}

.contenu-contact {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

}


.star {

    display: flex;
    justify-content: space-between;
}

.row-about {
    padding-top: 1rem;
    color: white;
    text-align: center;
    margin-top: 2rem;
}

/*####################################*/
.parti-droit {
    margin-top: 13rem;
}